* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #f9f9ff;
}

.container {
    padding: 30px;
    width: 100%;
    height: 100%;
}

hr {
    width: 100%;
    margin: 0 auto;
}


/* coding the header  */


#header {
    width: 100%;
    height: 65px;
    background-color: white;
    padding: 10px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    box-shadow: 0px 2px 5px 1px #ccc;
}

#menu_icon {
    color: #B91C1C;
    margin-right: 10px;
    font-size: 20px;
    cursor: pointer;
}

#project_name {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 20px;
}

.menu_icon {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    float: left;
}

/* coding of the side bar */


.overlay {

    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    background-color: rgba(0, 0, 0, 0.511);
    display: none;
}

.side_bar {
    height: 100vh;
    width: 260px;
    position: absolute;
    top: 0;
    left: 0;
    background-color: white;
}

.side_bar_header {

    display: flex;
    align-items: center;
    height: 60px;
    padding: 10px;
    font-family: sans-serif;
    font-size: 15px;
    padding-left: 15px;
}

.side_bar_header i {
    font-size: 23px;
    position: relative;
    top: 1px;
    left: 140px;
    color: rgba(0, 0, 0, 0.466);
}

.side_bar_header i:hover {
    cursor: pointer;
    color: rgba(0, 0, 0, 0.651);
}

#menu_list {
    font-family: sans-serif;

    padding: 20px;
    list-style: none;


}

#menu_items {
    margin: 30px;
    margin-left: 0px;
    font-size: 16px;
    font-weight: normal;
}

#menu_items:hover {
    cursor: pointer;
    color: #DC2626;
    transition: .1s;
}

/* coding footer */

#footer {
    width: 100%;
    height: 300px;
    background-color: #111827;
    position: absolute;
    margin-top: 180px;
}

.footer_box {
    display: flex;
    justify-content: space-evenly;
}

.aboutus,
.contact_info,
.followus {
    width: 25%;
    height: 180px;
    float: left;
    padding: 20px;
    padding-top: 50px;
}

.aboutus h2,
.contact_info h2,
.followus h2 {
    font-family: sans-serif;
    font-size: 20px;
    color: white;
    font-weight: 200;
    margin-top: 20px 0 20px 0;
}

#aboutus_text {
    font-family: sans-serif;
    font-size: 13px;
    color: #eaeaea;
    font-weight: 100;
    text-align: center;
}

#contact_us {
    font-family: sans-serif;
    font-size: 15px;
    color: #d7d7d7;
    font-weight: 100;
    text-align: left;
    list-style: none;
    margin: 0px 0 10px 0;
    cursor: pointer;
}

#contact_us:hover {
    color: white;
    transition: .2s;
}

.followus i {
    color: #d7d7d7;
    margin: 10px;
    font-size: 25px;
    margin-top: 20px;
    cursor: pointer;
}

.followus i:hover {
    color: white;
    scale: 1.02;
    transition: .2s;
}

#footer_hr {
    width: 100%;
    border: 1px solid #2c2c2c;
    margin-top: 10px;
    align-self: stretch;
}

.footer_bottom {
    text-align: center;
    padding-top: 30px;
}

#footer_bottom_text {
    font-family: sans-serif;
    font-size: 13px;
    color: #d7d7d7;
}

/* Reports Box Container */
.reports_box {
    width: 100%;
    padding: 20px 0;
    background-color: #f9f9f9;
}

/* Reports Header */
.reports_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    margin-top: 50px;
}

.reports_header h2 {
    font-family: sans-serif;
    font-size: 30px;
    white-space: nowrap;
}

/* View All Reports Link */
#view_all_reports {
    color: #DC2626;
    font-family: sans-serif;
    font-size: 14px;
    text-decoration: none;
    display: flex;
    justify-content: flex-end;
    margin-top: 10px;
}

#view_all_reports:hover {
    color: #B91C1C;
    transition: 0.2s;
}

/* Disaster Cards Container */
.disasters {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 25px;
    padding: 30px;
}

/* Individual Disaster Card */
.card1 {
    width: 32%;
    height: 300px;
    border: 1px solid #ccc;
    box-shadow: 1px 1px 5px 1px #ccc;
    border-radius: 5px;
    background-color: white;
    transition: transform 0.2s ease-in-out;
}

.card1:hover {
    transform: scale(1.02);
}

/* Image Placeholder */
.image {
    width: 100%;
    height: 50%;
    background-color: #ddd;
    border-bottom: 1px solid #ccc;
}

.disaster-image{
    background-size: contain;
    width: 100%;
    height: 100%;
}

/* Information Section */
.information {
    padding: 15px;
    display: flex;
    flex-direction: column;
}

.disaster_name {
    font-size: 18px;
    font-weight: bold;
    color: #292929;
    margin-bottom: 5px;
}

.disaster_location,
.disaster_date {
    font-size: 14px;
    color: #454545;
    margin-bottom: 5px;
    display: flex;
    align-items: center;
}

.disaster_location i,
.disaster_date i {
    margin-right: 5px;
    color: #DC2626;
}

/* View Report Button */
.view_report {
    height: 40px;
    width: 100%;
    background-color: #DC2626;
    color: white;
    font-size: 16px;
    font-weight: bold;
    border-radius: 4px;
    outline: none;
    border: none;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
}

.view_report:hover {
    background-color: #B91C1C;
}


/* coding the popoup */

#view_details_overlay {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.559);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    margin: 0 auto;
    display: none;
}

.view_details_popup {
    width: 35%;
    height: 600px;
    background-color: white;
    border: 1px solid #ccc;
    box-shadow: 2px 2px 10px 1px #464646;
    border-radius: 5px;
    padding: 20px;
    margin: 0 auto;
    margin-top: 40px;
}

.popupHeader {
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
}

.popupHeader h2 {
    font-family: sans-serif;
    font-size: 25px;
    text-align: left;
    white-space: nowrap;
}

#popup_hr{
    margin-bottom: 15px;
}

.popupHeader i {
    font-size: 25px;
    color: rgba(0, 0, 0, 0.466);
    cursor: pointer;
    text-align: right;
    margin-left: 220px;
}

.popupHeader i:hover {
    color: rgba(0, 0, 0, 0.651);
}

.detailsBox {
    width: 100%;
    height: 80%;
    position: relative;
}

.disImg {
    height: 50%;
    width: 100%;
    border: 1px solid green;
    margin: 1px;
    overflow: hidden;
}

#imagViewDetails{
    background-size: contain;
    width: 100%;
    height: 100%;
}

.disasterDetails{
    height: 50%;
    width: 50%;
    position: relative;
    background-color: #f4f4f4;
    top: 0px;
    left: 1px;
    display: flex;
    flex-direction: column;
    padding: 25px;
    justify-content: space-between;
}

.disasterDetails span{
    font-family: sans-serif;
    margin-top: 5px;
    font-size: 17px;
    font-weight: 500;
}

.userDetails{
    width: 49%;
    height: 50%;
    float: right;
    position: relative;
    top: -224px;
    display: flex;
    flex-direction: column;
    background-color: #f4f4f4;
    padding: 25px;
    justify-content: space-between;
}

.userDetails span{
    font-family: sans-serif;
    font-size: 17px;
    font-weight: 500;
}

.reporterDetails{
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 15px;
}

.reporterDetails span, .reporterDetails i{
    font-family: sans-serif;
    font-size: 14px;
    font-weight: 500;
}

.reporterInfo{
    white-space: nowrap;
}

